<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-left">
    <a class="navbar-brand" href>Media App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav">
            <li>
                <a [routerLink]="'movies'" class="nav-link">Movies</a>
            </li>
            <li>
                <a [routerLink]="'series'" class="nav-link">Series</a>
            </li>
            <li>
                <a [routerLink]="'songs'" class="nav-link">Songs</a>
            </li>
        </ul>
    </div>
</nav>