img {
    width: auto;
    height: 400px;
}

#cardMovies{
    margin-top: 10px;
    width: 18rem;
    margin-left: 10px;
}

.container-fluid {     
    margin-top: 70px;
    margin-left:260px;
    width: auto;
}